.colorPicker-pre {
	width: 6rem;
	height: 6rem;
	border-radius: 25%;
	position: relative;

	background: radial-gradient(
			circle closest-side,
			hsla(0, 0%, 50%, 1),
			hsla(0, 0%, 50%, 0)
		),
		conic-gradient(
			hsl(0, 100%, 50%),
			hsl(30, 100%, 50%),
			hsl(60, 100%, 50%),
			hsl(90, 100%, 50%),
			hsl(120, 100%, 50%),
			hsl(150, 100%, 50%),
			hsl(180, 100%, 50%),
			hsl(210, 100%, 50%),
			hsl(240, 100%, 50%),
			hsl(270, 100%, 50%),
			hsl(300, 100%, 50%),
			hsl(330, 100%, 50%),
			hsl(360, 100%, 50%)
		);

	border: 0.2rem solid hsla(0, 0%, 20%, 1);
	box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.3);
}

.colorPicker-pre:hover {
	border-color: white;
}

.colorPicker-component {
	font-family: inherit;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	--alabaster: hsl(53, 20%, 80%);
	--y-in-mn-blue: hsl(218, 19%, 22%);
	--charcoal: hsl(220, 21%, 11%);
	--mauvelous: hsl(351, 56%, 73%);
	--cadet-blue: hsl(187, 48%, 47%);

	--darkGray: hsl(270, 1%, 13%);
	--lightGray: hsl(270, 7%, 24%);
	--brightPink: hsl(337, 71%, 60%);
	--brightYellow: hsl(46, 75%, 55%);

	--slate: hsl(210, 30%, 30%);
	--darkSlate: hsl(210, 30%, 10%);
	--brightPurple: hsl(271, 100%, 62%);
	--brightBlue: hsl(210, 100%, 62%);

	--Main: var(--darkGray);
	--Secondary: var(--lightGray);
	--Accent: var(--brightPink);
	--SecondaryAccent: var(--brightYellow);
	--text-color: var(--alabaster);

	color: var(--text-color);
	line-height: 1.5;
	box-sizing: border-box;
	--colorPicker-width: 15rem;
	--selectedColor: hsl(0, 0%, 50%);
	background-color: var(--Main);
	width: var(--colorPicker-width);
	padding: 1rem;
	border-radius: calc(var(--colorPicker-width) * 0.1);

	box-shadow: 0rem 1rem 1.5rem -0.5rem var(--Main),
		inset 0.5rem 0.5rem 1rem 1.5rem hsla(0, 0%, 100%, 0.02);
}

.m-fadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}

.colorPicker-component > * {
	box-sizing: border-box;
	width: calc(var(--colorPicker-width) * 0.9);
	padding: 0;
}

.colorPicker-component * {
	font-size: inherit;
}

.colorPicker-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
}

.colorPicker-colorWheel {
	--radialFirstOpacity: 100%;
	--radialSecondOpacity: 0%;
	--lightness: 50%;
	--colorWheelWidth: calc(var(--colorPicker-width) * 0.9);
	cursor: pointer;

	position: relative;

	border-radius: 50%;
	border: calc(var(--colorWheelWidth) * 0.05) solid var(--Secondary);
	box-shadow: 0rem 0rem 1rem hsla(0, 0%, 0%, 0.3);
	width: var(--colorWheelWidth);
	height: var(--colorWheelWidth);

	--displaySaturation: 100%;
	background: radial-gradient(
			circle closest-side,
			hsla(0, 0%, var(--lightness), var(--radialFirstOpacity)),
			hsla(0, 0%, 50%, var(--radialSecondOpacity))
		),
		conic-gradient(
			hsl(0, var(--displaySaturation), var(--lightness)),
			hsl(30, var(--displaySaturation), var(--lightness)),
			hsl(60, var(--displaySaturation), var(--lightness)),
			hsl(90, var(--displaySaturation), var(--lightness)),
			hsl(120, var(--displaySaturation), var(--lightness)),
			hsl(150, var(--displaySaturation), var(--lightness)),
			hsl(180, var(--displaySaturation), var(--lightness)),
			hsl(210, var(--displaySaturation), var(--lightness)),
			hsl(240, var(--displaySaturation), var(--lightness)),
			hsl(270, var(--displaySaturation), var(--lightness)),
			hsl(300, var(--displaySaturation), var(--lightness)),
			hsl(330, var(--displaySaturation), var(--lightness)),
			hsl(360, var(--displaySaturation), var(--lightness))
		);

	filter: brightness(100%);
	margin-top: 1px;
	transform: translateZ(1px);
}

.colorPicker-handle {
	cursor: grab;
	--handleXOffset: 0;
	--handleYOffset: 0;
	--scaleFactor: 1;

	--borderColor: var(--Secondary);

	--colorPickerHandleSize: calc(var(--colorPicker-width) * 0.9 * 0.12);

	box-shadow: 0rem 0rem 0.15rem hsla(0, 0%, 0%, 0.3);

	top: 50%;
	left: 50%;
	transform-origin: center;
	transform: translate(
			calc(var(--handleXOffset) * 1px + -50%),
			calc(var(--handleYOffset) * 1px + -50%)
		)
		scale(var(--scaleFactor));
	position: absolute;

	border-radius: 50%;
	border: calc(var(--colorPickerHandleSize) * 0.15) solid var(--borderColor);
	background: var(--selectedColor);

	width: var(--colorPickerHandleSize);
	height: var(--colorPickerHandleSize);
}

.colorPicker-handle:active {
	cursor: grabbing;
}

.colorPicker-circle {
	--circle-color: hsl(0, 0%, 50%);
	cursor: pointer;
	border-radius: 50%;
	padding: 0;
	background: transparent;
	border: calc(var(--circle-Size) * 0.1) solid var(--Secondary);
	box-shadow: 0rem 0rem 1rem hsla(0, 0%, 0%, 0.3);
	transform: translateZ(1px);
}

.colorPicker-circle-dynamic {
	background-color: var(--circle-color);
	width: var(--circle-Size);
	height: var(--circle-Size);
}

.colorPicker-circle-dynamic:hover,
.colorPicker-circle-dynamic:focus {
	border-color: var(--Accent);
}
.colorPicker-circle-dynamic:focus:active {
	border-color: var(--SecondaryAccent);
}

.colorPicker-svg-button-wrap {
	border: none;
	fill: var(--Accent);
}

.colorPicker-wheel-button {
	position: absolute;
	width: calc(var(--colorPicker-width) * 0.1);
	height: calc(var(--colorPicker-width) * 0.1);
	bottom: 0;
	transform: translate(25%, 25%);
}

.colorPicker-svg-button {
	fill: inherit;
}
.colorPicker-svg-button-wrap:hover {
	fill: var(--SecondaryAccent);
}

.colorPicker-svg-button-wrap:active {
	fill: var(--Secondary);
}
.colorPicker-svg-button-wrap:disabled {
	cursor: default;
	fill: var(--Secondary);
}

.colorPicker-range {
	color: inherit;
	width: 100%;
}
.colorPicker-slider {
	cursor: pointer;
	outline: var(--Accent);
}

.colorPicker-text-wrapper {
	text-align: center;
}
.colorPicker-number-input {
	font: inherit;
	display: inline-block;
	border: none;
	margin-left: 0.25ch;
	margin-right: 0.25ch;
	background-color: transparent;
	width: 2em;
	text-align: right;
	color: var(--text-color);
	cursor: text;
}

.colorPicker-number-input:hover {
	background-color: var(--Secondary);
	outline: 1px solid var(--Accent);
}

.colorPicker-number-input:active,
.colorPicker-number-input:focus {
	outline: 2px solid var(--SecondaryAccent);
	background-color: var(--Secondary);
}

/* after this will be removed */
.colorPicker-testing-button {
	color: inherit;
	font: inherit;
	background-color: var(--Main);
	border-color: var(--text-color);
	border-radius: 1em;
}
.colorPicker-testing-button:hover,
.colorPicker-testing-button:focus {
	color: var(--Accent);
	background-color: var(--Secondary);
	border-color: var(--Accent);
}
.colorPicker-testing-button:active {
	border-color: var(--SecondaryAccent);
}
