@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('../../fonts/WOFF2/Atkinson-Hyperlegible-Regular.woff2')
			format('woff2'),
		url('../../fonts/WOFF2/Atkinson-Hyperlegible-regular.WOFF')
			format('woff');
}
@font-face {
	font-family: Syne;
	src: url('../fonts/Syne/Syne-Regular.woff2') format('woff2'),
		url('../fonts/Syne/Syne-Regular.woff') format('woff');
}

:root {
	font-family: Atkinson-Hyperlegible;

	--meatyGreen: hsl(191, 36%, 34%);
	--paleBlue: hsl(203, 40%, 62%);
	--salmon: hsl(0, 58%, 68%);
	--palePink: hsl(2, 90%, 88%);

	--Main: var(--meatyGreen);
	--Secondary: var(--paleBlue);
	--Accent: var(--salmon);
	--SecondaryAccent: var(--palePink);
	--text-color: whitesmoke;

	color: var(--text-color);
	line-height: 1.5;
	padding: 0;
}

body {
	background: linear-gradient(145deg, var(--Main), var(--Secondary));
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.colorCompare {
	height: 70%;
	width: 30%;
	background: linear-gradient(145deg, var(--Accent), var(--SecondaryAccent));
}
