@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url("../fonts/WOFF2/Atkinson-Hyperlegible-Regular.woff2")
			format("woff2"),
		url("../fonts/WOFF2/Atkinson-Hyperlegible-regular.WOFF") format("woff");
}
@font-face {
	font-family: Syne;
	src: url("../fonts/Syne/Syne-Regular.woff2") format("woff2"),
		url(" ../../../fonts/Syne/Syne-Regular.wof") format("woff");
}

:root {
	font-family: Atkinson-Hyperlegible;

	--slate: hsl(210, 30%, 30%);
	--darkSlate: hsl(210, 30%, 10%);
	--brightPurple: hsl(271, 100%, 62%);
	--brightBlue: hsl(210, 100%, 62%);

	--Main: var(--darkSlate);
	--Secondary: var(--slate);
	--Accent: var(--brightPurple);
	--SecondaryAccent: var(--brightBlue);
	--text-color: whitesmoke;

	color: var(--text-color);
	line-height: 1.5;
}
body {
	background-color: var(--Secondary);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}
h1,
h2,
h3 {
	font-family: Syne;
}

h1 {
	color: var(--Accent);
	font-size: xx-large;
}
h2 {
	font-size: x-large;
}

.col {
	background-color: var(--Main);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col > h2 {
	/* padding: 1rem; */
	text-align: left;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

ul.col {
	list-style: none;
	padding: 1rem;
	margin: 2rem;
	align-items: baseline;
	justify-content: space-evenly;
}

ul.col * + * {
	margin-bottom: 1rem;
}

ul.col a {
	color: var(--Accent);
	text-decoration: none;
	text-align: left;
}
ul.col a:visited {
	color: var(--Accent);
	text-decoration: none;
}
ul.col a:hover,
ul.col a:active {
	color: var(--SecondaryAccent);
	cursor: pointer;
}

section {
	/* background-color: var(--Main); */
	width: clamp(10rem, 50vw, 50rem);
	margin-bottom: 2rem;
	padding: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: var(--Secondary);
}
p {
	font-family: Atkinson-Hyperlegible;
}
