@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url("../../fonts/WOFF2/Atkinson-Hyperlegible-Regular.woff2")
			format("woff2"),
		url("../../fonts/WOFF2/Atkinson-Hyperlegible-regular.WOFF")
			format("woff");
}

:root {
	font-family: Atkinson-Hyperlegible, Helvetica, sans-serif;
	--colorPrimary-h: 210;
	--colorPrimary-s: 100%;
	--colorPrimary-l: 50%;

	--colorTriad1-h: calc(120+var(--colorPrimary-h));
	--colorTriad2-h: calc(240+var(--colorPrimary-h));

	--colorPrimary: hsl(
		var(--colorPrimary-h),
		var(--colorPrimary-s),
		var(--colorPrimary-l)
	);

	--colorPrimaryLight: hsl(
		var(--colorPrimary-h),
		var(--colorPrimary-s),
		calc(var(--colorPrimary-l)+20)
	);

	--colorPrimaryDark: hsl(
		var(--colorPrimary-h),
		var(--colorPrimary-s),
		calc(var(--colorPrimary-l)-20)
	);

	--colorTriad1: hsl(
		var(--colorTriad1-h),
		var(--colorPrimary-s),
		var(--colorPrimary-l)
	);
	--colorTriad1: hsl(
		var(--colorTriad2-h),
		var(--colorPrimary-s),
		var(--colorPrimary-l)
	);

	--slate: hsl(210, 30%, 30%);
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--slate);
	display: flex;
	align-items: center;
	justify-content: center;
}
