@media (prefers-color-scheme: light) {
}

:root {
	--slate: hsl(210, 30%, 30%);
	--darkSlate: hsl(210, 30%, 10%);
	--brightPurple: hsl(271, 67%, 62%);

	--colorPick-Main: var(--darkSlate);
	--colorPicker-Secondary: var(--slate);
	--colorPicker-Accent: var(--brightPurple);
	--colorPicker-text-color: whitesmoke;
	--displayS: 100%;

	color: var(--colorPicker-text-color);
}

.colorPicker-Component {
	--pickerWidth: 15rem;
	width: var(--pickerWidth);
	height: auto;
	background-color: var(--colorPick-Main);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.colorPicker-Component > * + * {
	/* padding: calc(var(--pickerWidth) * 0.05); */
	margin-bottom: calc(var(--pickerWidth) * 0.05);
}

/* .colorPicker-Component:last-child {
	margin-bottom: calc(var(--pickerWidth) * 0.1);
} */

.colorPicker-colorWheel {
	--radialSecondLightness: 100%;
	--radialFirstOpacity: 1;
	--radialSecondOpacity: 0;
	--displaySaturation: 100%
	height: calc(var(--pickerWidth) * 0.9);
	width: calc(var(--pickerWidth) * 0.9);
	border-radius: 50%;
	border: 0.5ch solid var(--colorPicker-Secondary);
	position: relative;

	background: radial-gradient(
			circle closest-side,
			hsla(0, 0%, 100%, var(--radialFirstOpacity)),
			hsla(
				0,
				0%,
				var(--radialSecondLightness),
				var(--radialSecondOpacity)
			)
		),
		conic-gradient(
			hsl(0, 	 var(--displaySaturation), 50%),
			hsl(30,  var(--displaySaturation), 50%),
			hsl(60,  var(--displaySaturation), 50%),
			hsl(90,  var(--displaySaturation), 50%),
			hsl(120, var(--displaySaturation), 50%),
			hsl(150, var(--displaySaturation), 50%),
			hsl(180, var(--displaySaturation), 50%),
			hsl(210, var(--displaySaturation), 50%),
			hsl(240, var(--displaySaturation), 50%),
			hsl(270, var(--displaySaturation), 50%),
			hsl(300, var(--displaySaturation), 50%),
			hsl(330, var(--displaySaturation), 50%),
			hsl(360, var(--displaySaturation), 50%)
		);displaySaturationmargin-top: calc(var(--pickerWidth) * 0.05);
}

.colorPicker-button {
	height: 1rem;
	width: 1rem;
	background: var(--colorPicker-Secondary);
	border-radius: 50%;
}

.colorPicker-button:hover {
	background: var(--colorPicker-Accent);
}

.colorPicker-button-inverse {
	height: 1rem;
	width: 1rem;
	background: var(--colorPicker-Accent);
	border-radius: 50%;
}

.colorPicker-button-inverse:hover {
	background: var(--colorPicker-Secondary);
}

.colorPicker-handle {
	width: calc(var(--pickerWidth) * 0.07);
	height: calc(var(--pickerWidth) * 0.07);
	position: absolute;
	background-color: white;
	border: 0.25ch solid var(--colorPicker-Secondary);
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.colorPicker-ranges {
	height: calc(var(--pickerWidth) * 0.9);
	width: calc(var(--pickerWidth) * 0.9);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.colorPicker-range-input {
	fill: blue;
	/*
		Not currently styling the sliders, apprently its a huge mess to do so
	*/
}

.colorPicker-slider-button {
	padding: 0.2ch;
	margin-left: 1ch;
}
